<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.landscaped">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EasyMap"></activity>
        <activity android:name=".MediumMap"></activity>
        <activity android:name=".HardMap"></activity>
        <activity android:name=".EasyLeaderboard"></activity>
        <activity android:name=".MediumLeaderboard"></activity>
        <activity android:name=".HardLeaderboard"></activity>
        <activity android:name=".Instructions"></activity>
        <activity android:name=".PopupEasy"
            android:theme="@style/AppTheme.EasyPopTheme">

        </activity>
        <activity android:name=".PopupMedium"
            android:theme="@style/AppTheme.EasyPopTheme">

        </activity>
        <activity android:name=".PopupHard"
            android:theme="@style/AppTheme.EasyPopTheme">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>